.direnv
.docusaurus
.git
.github
build
dist
node_modules
openapi
public
src
static

*.gif
*.jpeg
*.jpg
*.js
*.json
*.jsonc
*.jsx
*.lock
*.nix
*.png
*.svg
*.ts
*.tsbuildinfo
*.tsx
*.vue
*.yaml
*.yml

# Ignore the following files because prettier always breaks them
docs/k8s/installation/*
docs/k8s/guides/*
docs/k8s/guides/how-to/*

