{
  "plugins": ["./custom/scripts/prettier-plugin-preserve-prose.mjs"],
  "proseWrap": "preserve",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "proseWrap": "preserve",
        "printWidth": 99999
      }
    }
  ]
}
