@import url("https://cdn.ngrok.com/static/fonts/fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Since we disabled preflight, we need this for components */
*,
::before,
::after {
	box-sizing: border-box; /* 1 */
	border-width: 0; /* 2 */
	border-style: solid; /* 2 */
}

/* Should do this in the tailwind config but I wanted to make components now not later. */
/* ngrok design system config https://mantle.ngrok.com/ */
:root {
	color-scheme: light;
	--ngrok-blue-50: 221 100% 97%;
	--ngrok-blue-100: 221 95% 93%;
	--ngrok-blue-200: 220 94% 87%;
	--ngrok-blue-300: 219 95% 78%;
	--ngrok-blue-400: 220 96% 70%;
	--ngrok-blue-500: 224 89% 60%;
	--ngrok-blue-600: 228 82% 55%;
	--ngrok-blue-700: 231 75% 48%;
	--ngrok-blue-800: 232 70% 40%;
	--ngrok-blue-900: 232 63% 33%;
	--ngrok-blue-950: 234 55% 21%;
	--ngrok-grayple-50: 216 18% 98%;
	--ngrok-grayple-100: 218 16% 95.9%;
	--ngrok-grayple-200: 220 14% 90%;
	--ngrok-grayple-300: 222 12% 83.9%;
	--ngrok-grayple-400: 224 10% 64.9%;
	--ngrok-grayple-500: 226 08% 46.5%;
	--ngrok-grayple-600: 228 11% 34.9%;
	--ngrok-grayple-700: 230 14% 27.1%;
	--ngrok-grayple-800: 232 16% 21%;
	--ngrok-grayple-900: 234 18% 17%;
	--ngrok-grayple-950: 236 20% 11.5%;
	--tw-black: 0 0% 0%;
	--tw-white: 0 0% 100%;
	--tw-red-50: 0 85.7% 97.3%;
	--tw-red-100: 0 93.3% 94.1%;
	--tw-red-200: 0 96.3% 89.4%;
	--tw-red-300: 0 93.5% 81.8%;
	--tw-red-400: 0 90.6% 70.8%;
	--tw-red-500: 0 84.2% 60.2%;
	--tw-red-600: 0 72.2% 50.6%;
	--tw-red-700: 0 73.7% 41.8%;
	--tw-red-800: 0 70% 35.3%;
	--tw-red-900: 0 62.8% 30.6%;
	--tw-red-950: 0 74.7% 15.5%;
	--tw-orange-50: 33.3 100% 96.5%;
	--tw-orange-100: 34.3 100% 91.8%;
	--tw-orange-200: 32.1 97.7% 83.1%;
	--tw-orange-300: 30.7 97.2% 72.4%;
	--tw-orange-400: 27 96% 61%;
	--tw-orange-500: 24.6 95% 53.1%;
	--tw-orange-600: 20.5 90.2% 48.2%;
	--tw-orange-700: 17.5 88.3% 40.4%;
	--tw-orange-800: 15 79.1% 33.7%;
	--tw-orange-900: 15.3 74.6% 27.8%;
	--tw-orange-950: 13 81.1% 14.5%;
	--tw-amber-50: 48 100% 96.1%;
	--tw-amber-100: 48 96.5% 88.8%;
	--tw-amber-200: 48 96.6% 76.7%;
	--tw-amber-300: 45.9 96.7% 64.5%;
	--tw-amber-400: 43.3 96.4% 56.3%;
	--tw-amber-500: 37.7 92.1% 50.2%;
	--tw-amber-600: 32.1 94.6% 43.7%;
	--tw-amber-700: 26 90.5% 37.1%;
	--tw-amber-800: 22.7 82.5% 31.4%;
	--tw-amber-900: 21.7 77.8% 26.5%;
	--tw-amber-950: 20.9 91.7% 14.1%;
	--tw-yellow-50: 54.5 91.7% 95.3%;
	--tw-yellow-100: 54.9 96.7% 88%;
	--tw-yellow-200: 52.8 98.3% 76.9%;
	--tw-yellow-300: 50.4 97.8% 63.5%;
	--tw-yellow-400: 47.9 95.8% 53.1%;
	--tw-yellow-500: 45.4 93.4% 47.5%;
	--tw-yellow-600: 40.6 96.1% 40.4%;
	--tw-yellow-700: 35.5 91.7% 32.9%;
	--tw-yellow-800: 31.8 81% 28.8%;
	--tw-yellow-900: 28.4 72.5% 25.7%;
	--tw-yellow-950: 26 83.3% 14.1%;
	--tw-lime-50: 78.3 92% 95.1%;
	--tw-lime-100: 79.6 89.1% 89.2%;
	--tw-lime-200: 80.9 88.5% 79.6%;
	--tw-lime-300: 82 84.5% 67.1%;
	--tw-lime-400: 82.7 78% 55.5%;
	--tw-lime-500: 83.7 80.5% 44.3%;
	--tw-lime-600: 84.8 85.2% 34.5%;
	--tw-lime-700: 85.9 78.4% 27.3%;
	--tw-lime-800: 86.3 69% 22.7%;
	--tw-lime-900: 87.6 61.2% 20.2%;
	--tw-lime-950: 89.3 80.4% 10%;
	--tw-green-50: 138.5 76.5% 96.7%;
	--tw-green-100: 140.6 84.2% 92.5%;
	--tw-green-200: 141 78.9% 85.1%;
	--tw-green-300: 141.7 76.6% 73.1%;
	--tw-green-400: 141.9 69.2% 58%;
	--tw-green-500: 142.1 70.6% 45.3%;
	--tw-green-600: 142.1 76.2% 36.3%;
	--tw-green-700: 142.4 71.8% 29.2%;
	--tw-green-800: 142.8 64.2% 24.1%;
	--tw-green-900: 143.8 61.2% 20.2%;
	--tw-green-950: 144.9 80.4% 10%;
	--tw-emerald-50: 151.8 81% 95.9%;
	--tw-emerald-100: 149.3 80.4% 90%;
	--tw-emerald-200: 152.4 76% 80.4%;
	--tw-emerald-300: 156.2 71.6% 66.9%;
	--tw-emerald-400: 158.1 64.4% 51.6%;
	--tw-emerald-500: 160.1 84.1% 39.4%;
	--tw-emerald-600: 161.4 93.5% 30.4%;
	--tw-emerald-700: 162.9 93.5% 24.3%;
	--tw-emerald-800: 163.1 88.1% 19.8%;
	--tw-emerald-900: 164.2 85.7% 16.5%;
	--tw-emerald-950: 165.7 91.3% 9%;
	--tw-teal-50: 166.2 76.5% 96.7%;
	--tw-teal-100: 167.2 85.5% 89.2%;
	--tw-teal-200: 168.4 83.8% 78.2%;
	--tw-teal-300: 170.6 76.9% 64.3%;
	--tw-teal-400: 172.5 66% 50.4%;
	--tw-teal-500: 173.4 80.4% 40%;
	--tw-teal-600: 174.7 83.9% 31.6%;
	--tw-teal-700: 175.3 77.4% 26.1%;
	--tw-teal-800: 176.1 69.4% 21.8%;
	--tw-teal-900: 175.9 60.8% 19%;
	--tw-teal-950: 178.6 84.3% 10%;
	--tw-cyan-50: 183.2 100% 96.3%;
	--tw-cyan-100: 185.1 95.9% 90.4%;
	--tw-cyan-200: 186.2 93.5% 81.8%;
	--tw-cyan-300: 187 92.4% 69%;
	--tw-cyan-400: 187.9 85.7% 53.3%;
	--tw-cyan-500: 188.7 94.5% 42.7%;
	--tw-cyan-600: 191.6 91.4% 36.5%;
	--tw-cyan-700: 192.9 82.3% 31%;
	--tw-cyan-800: 194.4 69.6% 27.1%;
	--tw-cyan-900: 196.4 63.6% 23.7%;
	--tw-cyan-950: 197 78.9% 14.9%;
	--tw-sky-50: 204 100% 97.1%;
	--tw-sky-100: 204 93.8% 93.7%;
	--tw-sky-200: 200.6 94.4% 86.1%;
	--tw-sky-300: 199.4 95.5% 73.9%;
	--tw-sky-400: 198.4 93.2% 59.6%;
	--tw-sky-500: 198.6 88.7% 48.4%;
	--tw-sky-600: 200.4 98% 39.4%;
	--tw-sky-700: 201.3 96.3% 32.2%;
	--tw-sky-800: 201 90% 27.5%;
	--tw-sky-900: 202 80.3% 23.9%;
	--tw-sky-950: 204 80.2% 15.9%;
	--tw-indigo-50: 225.9 100% 96.7%;
	--tw-indigo-100: 226.5 100% 93.9%;
	--tw-indigo-200: 228 96.5% 88.8%;
	--tw-indigo-300: 229.7 93.5% 81.8%;
	--tw-indigo-400: 234.5 89.5% 73.9%;
	--tw-indigo-500: 238.7 83.5% 66.7%;
	--tw-indigo-600: 243.4 75.4% 58.6%;
	--tw-indigo-700: 244.5 57.9% 50.6%;
	--tw-indigo-800: 243.7 54.5% 41.4%;
	--tw-indigo-900: 242.2 47.4% 34.3%;
	--tw-indigo-950: 243.8 47.1% 20%;
	--tw-violet-50: 250 100% 97.6%;
	--tw-violet-100: 251.4 91.3% 95.5%;
	--tw-violet-200: 250.5 95.2% 91.8%;
	--tw-violet-300: 252.5 94.7% 85.1%;
	--tw-violet-400: 255.1 91.7% 76.3%;
	--tw-violet-500: 258.3 89.5% 66.3%;
	--tw-violet-600: 262.1 83.3% 57.8%;
	--tw-violet-700: 263.4 70% 50.4%;
	--tw-violet-800: 263.4 69.3% 42.2%;
	--tw-violet-900: 263.5 67.4% 34.9%;
	--tw-violet-950: 261.2 72.6% 22.9%;
	--tw-purple-50: 270 100% 98%;
	--tw-purple-100: 268.7 100% 95.5%;
	--tw-purple-200: 268.6 100% 91.8%;
	--tw-purple-300: 269.2 97.4% 85.1%;
	--tw-purple-400: 270 95.2% 75.3%;
	--tw-purple-500: 270.7 91% 65.1%;
	--tw-purple-600: 271.5 81.3% 55.9%;
	--tw-purple-700: 272.1 71.7% 47.1%;
	--tw-purple-800: 272.9 67.2% 39.4%;
	--tw-purple-900: 273.6 65.6% 32%;
	--tw-purple-950: 273.5 86.9% 21%;
	--tw-fuchsia-50: 289.1 100% 97.8%;
	--tw-fuchsia-100: 287 100% 95.5%;
	--tw-fuchsia-200: 288.3 95.8% 90.6%;
	--tw-fuchsia-300: 291.1 93.1% 82.9%;
	--tw-fuchsia-400: 292 91.4% 72.5%;
	--tw-fuchsia-500: 292.2 84.1% 60.6%;
	--tw-fuchsia-600: 293.4 69.5% 48.8%;
	--tw-fuchsia-700: 294.7 72.4% 39.8%;
	--tw-fuchsia-800: 295.4 70.2% 32.9%;
	--tw-fuchsia-900: 296.7 63.6% 28%;
	--tw-fuchsia-950: 296.8 90.2% 16.1%;
	--tw-pink-50: 327.3 73.3% 97.1%;
	--tw-pink-100: 325.7 77.8% 94.7%;
	--tw-pink-200: 325.9 84.6% 89.8%;
	--tw-pink-300: 327.4 87.1% 81.8%;
	--tw-pink-400: 328.6 85.5% 70.2%;
	--tw-pink-500: 330.4 81.2% 60.4%;
	--tw-pink-600: 333.3 71.4% 50.6%;
	--tw-pink-700: 335.1 77.6% 42%;
	--tw-pink-800: 335.8 74.4% 35.3%;
	--tw-pink-900: 335.9 69% 30.4%;
	--tw-pink-950: 336.2 83.9% 17.1%;
	--tw-rose-50: 355.7 100% 97.3%;
	--tw-rose-100: 355.6 100% 94.7%;
	--tw-rose-200: 352.7 96.1% 90%;
	--tw-rose-300: 352.6 95.7% 81.8%;
	--tw-rose-400: 351.3 94.5% 71.4%;
	--tw-rose-500: 349.7 89.2% 60.2%;
	--tw-rose-600: 346.8 77.2% 49.8%;
	--tw-rose-700: 345.3 82.7% 40.8%;
	--tw-rose-800: 343.4 79.7% 34.7%;
	--tw-rose-900: 341.5 75.5% 30.4%;
	--tw-rose-950: 343.1 87.7% 15.9%;
	--black: var(--tw-black);
	--white: var(--tw-white);
	--gray-50: var(--ngrok-grayple-50);
	--gray-100: var(--ngrok-grayple-100);
	--gray-200: var(--ngrok-grayple-200);
	--gray-300: var(--ngrok-grayple-300);
	--gray-400: var(--ngrok-grayple-400);
	--gray-500: var(--ngrok-grayple-500);
	--gray-600: var(--ngrok-grayple-600);
	--gray-700: var(--ngrok-grayple-700);
	--gray-800: var(--ngrok-grayple-800);
	--gray-900: var(--ngrok-grayple-900);
	--gray-950: var(--ngrok-grayple-950);
	--red-50: var(--tw-red-50);
	--red-100: var(--tw-red-100);
	--red-200: var(--tw-red-200);
	--red-300: var(--tw-red-300);
	--red-400: var(--tw-red-400);
	--red-500: var(--tw-red-500);
	--red-600: var(--tw-red-600);
	--red-700: var(--tw-red-700);
	--red-800: var(--tw-red-800);
	--red-900: var(--tw-red-900);
	--red-950: var(--tw-red-950);
	--orange-50: var(--tw-orange-50);
	--orange-100: var(--tw-orange-100);
	--orange-200: var(--tw-orange-200);
	--orange-300: var(--tw-orange-300);
	--orange-400: var(--tw-orange-400);
	--orange-500: var(--tw-orange-500);
	--orange-600: var(--tw-orange-600);
	--orange-700: var(--tw-orange-700);
	--orange-800: var(--tw-orange-800);
	--orange-900: var(--tw-orange-900);
	--orange-950: var(--tw-orange-950);
	--amber-50: var(--tw-amber-50);
	--amber-100: var(--tw-amber-100);
	--amber-200: var(--tw-amber-200);
	--amber-300: var(--tw-amber-300);
	--amber-400: var(--tw-amber-400);
	--amber-500: var(--tw-amber-500);
	--amber-600: var(--tw-amber-600);
	--amber-700: var(--tw-amber-700);
	--amber-800: var(--tw-amber-800);
	--amber-900: var(--tw-amber-900);
	--amber-950: var(--tw-amber-950);
	--yellow-50: var(--tw-yellow-50);
	--yellow-100: var(--tw-yellow-100);
	--yellow-200: var(--tw-yellow-200);
	--yellow-300: var(--tw-yellow-300);
	--yellow-400: var(--tw-yellow-400);
	--yellow-500: var(--tw-yellow-500);
	--yellow-600: var(--tw-yellow-600);
	--yellow-700: var(--tw-yellow-700);
	--yellow-800: var(--tw-yellow-800);
	--yellow-900: var(--tw-yellow-900);
	--yellow-950: var(--tw-yellow-950);
	--lime-50: var(--tw-lime-50);
	--lime-100: var(--tw-lime-100);
	--lime-200: var(--tw-lime-200);
	--lime-300: var(--tw-lime-300);
	--lime-400: var(--tw-lime-400);
	--lime-500: var(--tw-lime-500);
	--lime-600: var(--tw-lime-600);
	--lime-700: var(--tw-lime-700);
	--lime-800: var(--tw-lime-800);
	--lime-900: var(--tw-lime-900);
	--lime-950: var(--tw-lime-950);
	--green-50: var(--tw-green-50);
	--green-100: var(--tw-green-100);
	--green-200: var(--tw-green-200);
	--green-300: var(--tw-green-300);
	--green-400: var(--tw-green-400);
	--green-500: var(--tw-green-500);
	--green-600: var(--tw-green-600);
	--green-700: var(--tw-green-700);
	--green-800: var(--tw-green-800);
	--green-900: var(--tw-green-900);
	--green-950: var(--tw-green-950);
	--emerald-50: var(--tw-emerald-50);
	--emerald-100: var(--tw-emerald-100);
	--emerald-200: var(--tw-emerald-200);
	--emerald-300: var(--tw-emerald-300);
	--emerald-400: var(--tw-emerald-400);
	--emerald-500: var(--tw-emerald-500);
	--emerald-600: var(--tw-emerald-600);
	--emerald-700: var(--tw-emerald-700);
	--emerald-800: var(--tw-emerald-800);
	--emerald-900: var(--tw-emerald-900);
	--emerald-950: var(--tw-emerald-950);
	--teal-50: var(--tw-teal-50);
	--teal-100: var(--tw-teal-100);
	--teal-200: var(--tw-teal-200);
	--teal-300: var(--tw-teal-300);
	--teal-400: var(--tw-teal-400);
	--teal-500: var(--tw-teal-500);
	--teal-600: var(--tw-teal-600);
	--teal-700: var(--tw-teal-700);
	--teal-800: var(--tw-teal-800);
	--teal-900: var(--tw-teal-900);
	--teal-950: var(--tw-teal-950);
	--cyan-50: var(--tw-cyan-50);
	--cyan-100: var(--tw-cyan-100);
	--cyan-200: var(--tw-cyan-200);
	--cyan-300: var(--tw-cyan-300);
	--cyan-400: var(--tw-cyan-400);
	--cyan-500: var(--tw-cyan-500);
	--cyan-600: var(--tw-cyan-600);
	--cyan-700: var(--tw-cyan-700);
	--cyan-800: var(--tw-cyan-800);
	--cyan-900: var(--tw-cyan-900);
	--cyan-950: var(--tw-cyan-950);
	--sky-50: var(--tw-sky-50);
	--sky-100: var(--tw-sky-100);
	--sky-200: var(--tw-sky-200);
	--sky-300: var(--tw-sky-300);
	--sky-400: var(--tw-sky-400);
	--sky-500: var(--tw-sky-500);
	--sky-600: var(--tw-sky-600);
	--sky-700: var(--tw-sky-700);
	--sky-800: var(--tw-sky-800);
	--sky-900: var(--tw-sky-900);
	--sky-950: var(--tw-sky-950);
	--blue-50: var(--ngrok-blue-50);
	--blue-100: var(--ngrok-blue-100);
	--blue-200: var(--ngrok-blue-200);
	--blue-300: var(--ngrok-blue-300);
	--blue-400: var(--ngrok-blue-400);
	--blue-500: var(--ngrok-blue-500);
	--blue-600: var(--ngrok-blue-600);
	--blue-700: var(--ngrok-blue-700);
	--blue-800: var(--ngrok-blue-800);
	--blue-900: var(--ngrok-blue-900);
	--blue-950: var(--ngrok-blue-950);
	--indigo-50: var(--tw-indigo-50);
	--indigo-100: var(--tw-indigo-100);
	--indigo-200: var(--tw-indigo-200);
	--indigo-300: var(--tw-indigo-300);
	--indigo-400: var(--tw-indigo-400);
	--indigo-500: var(--tw-indigo-500);
	--indigo-600: var(--tw-indigo-600);
	--indigo-700: var(--tw-indigo-700);
	--indigo-800: var(--tw-indigo-800);
	--indigo-900: var(--tw-indigo-900);
	--indigo-950: var(--tw-indigo-950);
	--violet-50: var(--tw-violet-50);
	--violet-100: var(--tw-violet-100);
	--violet-200: var(--tw-violet-200);
	--violet-300: var(--tw-violet-300);
	--violet-400: var(--tw-violet-400);
	--violet-500: var(--tw-violet-500);
	--violet-600: var(--tw-violet-600);
	--violet-700: var(--tw-violet-700);
	--violet-800: var(--tw-violet-800);
	--violet-900: var(--tw-violet-900);
	--violet-950: var(--tw-violet-950);
	--purple-50: var(--tw-purple-50);
	--purple-100: var(--tw-purple-100);
	--purple-200: var(--tw-purple-200);
	--purple-300: var(--tw-purple-300);
	--purple-400: var(--tw-purple-400);
	--purple-500: var(--tw-purple-500);
	--purple-600: var(--tw-purple-600);
	--purple-700: var(--tw-purple-700);
	--purple-800: var(--tw-purple-800);
	--purple-900: var(--tw-purple-900);
	--purple-950: var(--tw-purple-950);
	--fuchsia-50: var(--tw-fuchsia-50);
	--fuchsia-100: var(--tw-fuchsia-100);
	--fuchsia-200: var(--tw-fuchsia-200);
	--fuchsia-300: var(--tw-fuchsia-300);
	--fuchsia-400: var(--tw-fuchsia-400);
	--fuchsia-500: var(--tw-fuchsia-500);
	--fuchsia-600: var(--tw-fuchsia-600);
	--fuchsia-700: var(--tw-fuchsia-700);
	--fuchsia-800: var(--tw-fuchsia-800);
	--fuchsia-900: var(--tw-fuchsia-900);
	--fuchsia-950: var(--tw-fuchsia-950);
	--pink-50: var(--tw-pink-50);
	--pink-100: var(--tw-pink-100);
	--pink-200: var(--tw-pink-200);
	--pink-300: var(--tw-pink-300);
	--pink-400: var(--tw-pink-400);
	--pink-500: var(--tw-pink-500);
	--pink-600: var(--tw-pink-600);
	--pink-700: var(--tw-pink-700);
	--pink-800: var(--tw-pink-800);
	--pink-900: var(--tw-pink-900);
	--pink-950: var(--tw-pink-950);
	--rose-50: var(--tw-rose-50);
	--rose-100: var(--tw-rose-100);
	--rose-200: var(--tw-rose-200);
	--rose-300: var(--tw-rose-300);
	--rose-400: var(--tw-rose-400);
	--rose-500: var(--tw-rose-500);
	--rose-600: var(--tw-rose-600);
	--rose-700: var(--tw-rose-700);
	--rose-800: var(--tw-rose-800);
	--rose-900: var(--tw-rose-900);
	--rose-950: var(--tw-rose-950);
	--neutral-50: var(--gray-50);
	--neutral-100: var(--gray-100);
	--neutral-200: var(--gray-200);
	--neutral-300: var(--gray-300);
	--neutral-400: var(--gray-400);
	--neutral-500: var(--gray-500);
	--neutral-600: var(--gray-600);
	--neutral-700: var(--gray-700);
	--neutral-800: var(--gray-800);
	--neutral-900: var(--gray-900);
	--neutral-950: var(--gray-950);
	--accent-50: var(--blue-50);
	--accent-100: var(--blue-100);
	--accent-200: var(--blue-200);
	--accent-300: var(--blue-300);
	--accent-400: var(--blue-400);
	--accent-500: var(--blue-500);
	--accent-600: var(--blue-600);
	--accent-700: var(--blue-700);
	--accent-800: var(--blue-800);
	--accent-900: var(--blue-900);
	--accent-950: var(--blue-950);
	--danger-50: var(--red-50);
	--danger-100: var(--red-100);
	--danger-200: var(--red-200);
	--danger-300: var(--red-300);
	--danger-400: var(--red-400);
	--danger-500: var(--red-500);
	--danger-600: var(--red-600);
	--danger-700: var(--red-700);
	--danger-800: var(--red-800);
	--danger-900: var(--red-900);
	--danger-950: var(--red-950);
	--warning-50: var(--amber-50);
	--warning-100: var(--amber-100);
	--warning-200: var(--amber-200);
	--warning-300: var(--amber-300);
	--warning-400: var(--amber-400);
	--warning-500: var(--amber-500);
	--warning-600: var(--amber-600);
	--warning-700: var(--amber-700);
	--warning-800: var(--amber-800);
	--warning-900: var(--amber-900);
	--warning-950: var(--amber-950);
	--success-50: var(--green-50);
	--success-100: var(--green-100);
	--success-200: var(--green-200);
	--success-300: var(--green-300);
	--success-400: var(--green-400);
	--success-500: var(--green-500);
	--success-600: var(--green-600);
	--success-700: var(--green-700);
	--success-800: var(--green-800);
	--success-900: var(--green-900);
	--success-950: var(--green-950);
	--bg-base: var(--neutral-50);
	--bg-card: var(--white);
	--bg-popover: var(--white);
	--bg-dialog: var(--white);
	--bg-base-hover: var(--neutral-100);
	--bg-card-hover: var(--neutral-100);
	--bg-popover-hover: var(--neutral-100);
	--bg-dialog-hover: var(--neutral-100);
	--border-base: var(--neutral-300);
	--border-card: var(--neutral-300);
	--border-popover: var(--neutral-300);
	--border-dialog: var(--neutral-300);
	--border-base-muted: var(--neutral-200);
	--border-card-muted: var(--neutral-200);
	--border-popover-muted: var(--neutral-200);
	--border-dialog-muted: var(--neutral-200);
	--text-strong: var(--neutral-950);
	--text-body: var(--neutral-950) / 0.75;
	--text-muted: var(--neutral-950) / 0.6;
	--text-placeholder: var(--neutral-950) / 0.5;
	--text-on-filled: var(--tw-white);
	--bg-overlay: var(--tw-black) / 0.12;
	--bg-tooltip: var(--gray-800);
	--text-tooltip: var(--tw-white);
	--bg-form: var(--white);
	--bg-form-hover: var(--neutral-500) / 0.05;
	--bg-form-active: var(--neutral-500) / 0.1;
	--border-form: var(--neutral-300);
	--bg-filled-neutral: var(--neutral-500);
	--bg-filled-accent: var(--accent-500);
	--bg-filled-danger: var(--danger-500);
	--bg-filled-warning: var(--warning-500);
	--bg-filled-success: var(--success-500);
	--bg-filled-neutral-hover: var(--neutral-600);
	--bg-filled-accent-hover: var(--accent-600);
	--bg-filled-danger-hover: var(--danger-600);
	--bg-filled-warning-hover: var(--warning-600);
	--bg-filled-success-hover: var(--success-600);
	--bg-filled-neutral-active: var(--neutral-700);
	--bg-filled-accent-active: var(--accent-700);
	--bg-filled-danger-active: var(--danger-700);
	--bg-filled-warning-active: var(--warning-700);
	--bg-filled-success-active: var(--success-700);
	--ring-focus-neutral: var(--neutral-500) / 0.3;
	--ring-focus-accent: var(--accent-500) / 0.3;
	--ring-focus-danger: var(--danger-500) / 0.3;
	--ring-focus-warning: var(--warning-500) / 0.3;
	--ring-focus-success: var(--success-500) / 0.3;
	--shadow-color: 0 0% 0%;
	--shadow-first: 5%;
	--shadow-second: 10%;
	--navigation-shadow: hsl(0deg 0% 0% / 10%);

	--background: hsl(var(--gray-50));
	--foreground: hsl(var(--white));
	--scrollbar: hsl(var(--gray-400) / 50%);

	--ifm-color-primary: hsl(var(--blue-600));
	--ifm-color-primary-dark: hsl(var(--blue-700));
	--ifm-color-primary-darker: hsl(var(--blue-800));
	--ifm-color-primary-darkest: hsl(var(--blue-900));
	--ifm-color-primary-light: hsl(var(--blue-500));
	--ifm-color-primary-lighter: hsl(var(--blue-400));
	--ifm-color-primary-lightest: hsl(var(--blue-300));

	--ifm-transition-fast: 0s;

	--ifm-pagination-nav-color-hover: #597ef7;
	--ifm-active-drawer-active-color: var(--ifm-color-primary);
	--ifm-heading-font-weight: 00;

	--docusaurus-collapse-button-bg-hover: rgb(0 0 0 / 0%);

	--ifm-h1-primary-header: hsl(var(--black));
	--ifm-h2-primary-subheader: hsl(var(--black));
	--ifm-p-primary-body: hsl(var(--gray-950) / 0.75);
	--ifm-p-secondary-mini: hsl(var(--gray-500));

	--ifm-footer-background-color: #f0f2f5;

	--ifm-code-font-size: 0.8em;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--ifm-font-family-base: "EuclidSquare", ui-sans-serif, system-ui,
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--ifm-font-family-body: "Nunito Sans", ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--ifm-font-family-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo,
		Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--ifm-navbar-item-padding-horizontal: 0.75rem;
	--ifm-menu-link-padding-vertical: 0.16rem;
	--doc-sidebar-width: 240px !important;
	--ifm-menu-color-hover: hsl(var(--black));

	--ifm-navbar-background-color: transparent;
	--ifm-background-color: hsl(var(--gray-50));

	--ifm-navbar-height: 1px;
	--ifm-navbar-shadow: none;

	--ifm-footer-background-color: transparent;

	--ifm-container-background-color: hsl(var(--white));
}

[data-theme="dark"] {
	color-scheme: dark;
	--white: var(--tw-black);
	--black: var(--tw-white);
	--gray-50: var(--ngrok-grayple-950);
	--gray-100: var(--ngrok-grayple-900);
	--gray-200: var(--ngrok-grayple-800);
	--gray-300: var(--ngrok-grayple-700);
	--gray-400: var(--ngrok-grayple-600);
	--gray-500: var(--ngrok-grayple-500);
	--gray-600: var(--ngrok-grayple-400);
	--gray-700: var(--ngrok-grayple-300);
	--gray-800: var(--ngrok-grayple-200);
	--gray-900: var(--ngrok-grayple-100);
	--gray-950: var(--ngrok-grayple-50);
	--red-50: var(--tw-red-950);
	--red-100: var(--tw-red-900);
	--red-200: var(--tw-red-800);
	--red-300: var(--tw-red-700);
	--red-400: var(--tw-red-600);
	--red-500: var(--tw-red-500);
	--red-600: var(--tw-red-400);
	--red-700: var(--tw-red-300);
	--red-800: var(--tw-red-200);
	--red-900: var(--tw-red-100);
	--red-950: var(--tw-red-50);
	--orange-50: var(--tw-orange-950);
	--orange-100: var(--tw-orange-900);
	--orange-200: var(--tw-orange-800);
	--orange-300: var(--tw-orange-700);
	--orange-400: var(--tw-orange-600);
	--orange-500: var(--tw-orange-500);
	--orange-600: var(--tw-orange-400);
	--orange-700: var(--tw-orange-300);
	--orange-800: var(--tw-orange-200);
	--orange-900: var(--tw-orange-100);
	--orange-950: var(--tw-orange-50);
	--amber-50: var(--tw-amber-950);
	--amber-100: var(--tw-amber-900);
	--amber-200: var(--tw-amber-800);
	--amber-300: var(--tw-amber-700);
	--amber-400: var(--tw-amber-600);
	--amber-500: var(--tw-amber-500);
	--amber-600: var(--tw-amber-400);
	--amber-700: var(--tw-amber-300);
	--amber-800: var(--tw-amber-200);
	--amber-900: var(--tw-amber-100);
	--amber-950: var(--tw-amber-50);
	--yellow-50: var(--tw-yellow-950);
	--yellow-100: var(--tw-yellow-900);
	--yellow-200: var(--tw-yellow-800);
	--yellow-300: var(--tw-yellow-700);
	--yellow-400: var(--tw-yellow-600);
	--yellow-500: var(--tw-yellow-500);
	--yellow-600: var(--tw-yellow-400);
	--yellow-700: var(--tw-yellow-300);
	--yellow-800: var(--tw-yellow-200);
	--yellow-900: var(--tw-yellow-100);
	--yellow-950: var(--tw-yellow-50);
	--lime-50: var(--tw-lime-950);
	--lime-100: var(--tw-lime-900);
	--lime-200: var(--tw-lime-800);
	--lime-300: var(--tw-lime-700);
	--lime-400: var(--tw-lime-600);
	--lime-500: var(--tw-lime-500);
	--lime-600: var(--tw-lime-400);
	--lime-700: var(--tw-lime-300);
	--lime-800: var(--tw-lime-200);
	--lime-900: var(--tw-lime-100);
	--lime-950: var(--tw-lime-50);
	--green-50: var(--tw-green-950);
	--green-100: var(--tw-green-900);
	--green-200: var(--tw-green-800);
	--green-300: var(--tw-green-700);
	--green-400: var(--tw-green-600);
	--green-500: var(--tw-green-500);
	--green-600: var(--tw-green-400);
	--green-700: var(--tw-green-300);
	--green-800: var(--tw-green-200);
	--green-900: var(--tw-green-100);
	--green-950: var(--tw-green-50);
	--emerald-50: var(--tw-emerald-950);
	--emerald-100: var(--tw-emerald-900);
	--emerald-200: var(--tw-emerald-800);
	--emerald-300: var(--tw-emerald-700);
	--emerald-400: var(--tw-emerald-600);
	--emerald-500: var(--tw-emerald-500);
	--emerald-600: var(--tw-emerald-400);
	--emerald-700: var(--tw-emerald-300);
	--emerald-800: var(--tw-emerald-200);
	--emerald-900: var(--tw-emerald-100);
	--emerald-950: var(--tw-emerald-50);
	--teal-50: var(--tw-teal-950);
	--teal-100: var(--tw-teal-900);
	--teal-200: var(--tw-teal-800);
	--teal-300: var(--tw-teal-700);
	--teal-400: var(--tw-teal-600);
	--teal-500: var(--tw-teal-500);
	--teal-600: var(--tw-teal-400);
	--teal-700: var(--tw-teal-300);
	--teal-800: var(--tw-teal-200);
	--teal-900: var(--tw-teal-100);
	--teal-950: var(--tw-teal-50);
	--cyan-50: var(--tw-cyan-950);
	--cyan-100: var(--tw-cyan-900);
	--cyan-200: var(--tw-cyan-800);
	--cyan-300: var(--tw-cyan-700);
	--cyan-400: var(--tw-cyan-600);
	--cyan-500: var(--tw-cyan-500);
	--cyan-600: var(--tw-cyan-400);
	--cyan-700: var(--tw-cyan-300);
	--cyan-800: var(--tw-cyan-200);
	--cyan-900: var(--tw-cyan-100);
	--cyan-950: var(--tw-cyan-50);
	--sky-50: var(--tw-sky-950);
	--sky-100: var(--tw-sky-900);
	--sky-200: var(--tw-sky-800);
	--sky-300: var(--tw-sky-700);
	--sky-400: var(--tw-sky-600);
	--sky-500: var(--tw-sky-500);
	--sky-600: var(--tw-sky-400);
	--sky-700: var(--tw-sky-300);
	--sky-800: var(--tw-sky-200);
	--sky-900: var(--tw-sky-100);
	--sky-950: var(--tw-sky-50);
	--blue-50: var(--ngrok-blue-950);
	--blue-100: var(--ngrok-blue-900);
	--blue-200: var(--ngrok-blue-800);
	--blue-300: var(--ngrok-blue-700);
	--blue-400: var(--ngrok-blue-600);
	--blue-500: var(--ngrok-blue-500);
	--blue-600: var(--ngrok-blue-400);
	--blue-700: var(--ngrok-blue-300);
	--blue-800: var(--ngrok-blue-200);
	--blue-900: var(--ngrok-blue-100);
	--blue-950: var(--ngrok-blue-50);
	--indigo-50: var(--tw-indigo-950);
	--indigo-100: var(--tw-indigo-900);
	--indigo-200: var(--tw-indigo-800);
	--indigo-300: var(--tw-indigo-700);
	--indigo-400: var(--tw-indigo-600);
	--indigo-500: var(--tw-indigo-500);
	--indigo-600: var(--tw-indigo-400);
	--indigo-700: var(--tw-indigo-300);
	--indigo-800: var(--tw-indigo-200);
	--indigo-900: var(--tw-indigo-100);
	--indigo-950: var(--tw-indigo-50);
	--violet-50: var(--tw-violet-950);
	--violet-100: var(--tw-violet-900);
	--violet-200: var(--tw-violet-800);
	--violet-300: var(--tw-violet-700);
	--violet-400: var(--tw-violet-600);
	--violet-500: var(--tw-violet-500);
	--violet-600: var(--tw-violet-400);
	--violet-700: var(--tw-violet-300);
	--violet-800: var(--tw-violet-200);
	--violet-900: var(--tw-violet-100);
	--violet-950: var(--tw-violet-50);
	--purple-50: var(--tw-purple-950);
	--purple-100: var(--tw-purple-900);
	--purple-200: var(--tw-purple-800);
	--purple-300: var(--tw-purple-700);
	--purple-400: var(--tw-purple-600);
	--purple-500: var(--tw-purple-500);
	--purple-600: var(--tw-purple-400);
	--purple-700: var(--tw-purple-300);
	--purple-800: var(--tw-purple-200);
	--purple-900: var(--tw-purple-100);
	--purple-950: var(--tw-purple-50);
	--fuchsia-50: var(--tw-fuchsia-950);
	--fuchsia-100: var(--tw-fuchsia-900);
	--fuchsia-200: var(--tw-fuchsia-800);
	--fuchsia-300: var(--tw-fuchsia-700);
	--fuchsia-400: var(--tw-fuchsia-600);
	--fuchsia-500: var(--tw-fuchsia-500);
	--fuchsia-600: var(--tw-fuchsia-400);
	--fuchsia-700: var(--tw-fuchsia-300);
	--fuchsia-800: var(--tw-fuchsia-200);
	--fuchsia-900: var(--tw-fuchsia-100);
	--fuchsia-950: var(--tw-fuchsia-50);
	--pink-50: var(--tw-pink-950);
	--pink-100: var(--tw-pink-900);
	--pink-200: var(--tw-pink-800);
	--pink-300: var(--tw-pink-700);
	--pink-400: var(--tw-pink-600);
	--pink-500: var(--tw-pink-500);
	--pink-600: var(--tw-pink-400);
	--pink-700: var(--tw-pink-300);
	--pink-800: var(--tw-pink-200);
	--pink-900: var(--tw-pink-100);
	--pink-950: var(--tw-pink-50);
	--rose-50: var(--tw-rose-950);
	--rose-100: var(--tw-rose-900);
	--rose-200: var(--tw-rose-800);
	--rose-300: var(--tw-rose-700);
	--rose-400: var(--tw-rose-600);
	--rose-500: var(--tw-rose-500);
	--rose-600: var(--tw-rose-400);
	--rose-700: var(--tw-rose-300);
	--rose-800: var(--tw-rose-200);
	--rose-900: var(--tw-rose-100);
	--rose-950: var(--tw-rose-50);
	--bg-base: var(--neutral-50);
	--bg-card: var(--neutral-100);
	--bg-popover: var(--neutral-100);
	--bg-dialog: var(--neutral-50);
	--bg-base-hover: var(--neutral-100);
	--bg-card-hover: var(--neutral-200);
	--bg-popover-hover: var(--neutral-200);
	--bg-dialog-hover: var(--neutral-100);
	--border-base: var(--neutral-300);
	--border-card: var(--neutral-300);
	--border-popover: var(--neutral-300);
	--border-dialog: var(--neutral-300);
	--border-base-muted: var(--neutral-200);
	--border-card-muted: var(--neutral-200);
	--border-popover-muted: var(--neutral-200);
	--border-dialog-muted: var(--neutral-200);
	--text-strong: var(--black);
	--text-body: var(--black) / 0.7;
	--text-muted: var(--black) / 0.5;
	--text-placeholder: var(--black) / 0.4;
	--text-on-filled: var(--tw-white);
	--bg-overlay: var(--tw-black) / 0.6;
	--bg-tooltip: var(--tw-black);
	--text-tooltip: var(--neutral-900);
	--bg-form: var(--neutral-50);
	--border-form: var(--neutral-300);
	--bg-filled-neutral: var(--neutral-500);
	--bg-filled-accent: var(--accent-500);
	--bg-filled-danger: var(--danger-500);
	--bg-filled-warning: var(--warning-500);
	--bg-filled-success: var(--success-500);
	--bg-filled-neutral-hover: var(--neutral-500) / 0.9;
	--bg-filled-accent-hover: var(--accent-500) / 0.9;
	--bg-filled-danger-hover: var(--danger-500) / 0.9;
	--bg-filled-warning-hover: var(--warning-500) / 0.9;
	--bg-filled-success-hover: var(--success-500) / 0.9;
	--bg-filled-neutral-active: var(--neutral-500) / 0.8;
	--bg-filled-accent-active: var(--accent-500) / 0.8;
	--bg-filled-danger-active: var(--danger-500) / 0.8;
	--bg-filled-warning-active: var(--warning-500) / 0.8;
	--bg-filled-success-active: var(--success-500) / 0.8;
	--shadow-first: 15%;
	--shadow-second: 30%;
	--navigation-shadow: hsl(0deg 0% 0% / 40%) /* Docusaurus */ --background:
		hsl(var(--gray-50));
	--foreground: hsl(var(--gray-100));
	--scrollbar: hsla(var(--gray-600) / 50%);

	--ifm-color-primary: hsl(var(--blue-600));
	--ifm-color-primary-dark: hsl(var(--blue-500));
	--ifm-color-primary-darker: hsl(var(--blue-400));
	--ifm-color-primary-darkest: hsl(var(--blue-300));
	--ifm-color-primary-light: hsl(var(--blue-700));
	--ifm-color-primary-lighter: hsl(var(--blue-800));
	--ifm-color-primary-lightest: hsl(var(--blue-900));

	--ifm-background-color: #1b1b1d;

	/* FIX this here, clean up code I didn't use. */
	--ifm-h1-primary-header: hsl(var(--black));
	--ifm-h2-primary-subheader: hsl(var(--black));
	--ifm-p-primary-body: #dadada;
	--ifm-p-secondary-mini: hsl(var(--gray-500));

	--ifm-menu-color: hsl(var(--black) / 0.5);
	--ifm-menu-color-hover: hsl(var(--black));

	--ifm-background-color: hsl(var(--blue-50));

	--ifm-container-background-color: #272a3a;
}

html,
body {
	background-color: var(--background);
	/* Docusaurus sets font smoothing. Let's set this back to the default */
	-webkit-font-smoothing: subpixel-antialiased;
}

button, input, optgroup, select, textarea {
	font-family: var(--ifm-font-family-base);
    font-feature-settings: inherit;
    font-variation-settings: inherit;
}

.alert a {
	text-decoration: var(--ifm-link-decoration);
}

article a {
	text-decoration: none;
}

article a:hover,
article a:focus {
	text-decoration: underline;
}

/* Header */
.navbar__brand {
	height: 24px;
	display: block;
	flex-shrink: 0;
	margin-right: 0.5rem;
}

.navbar__logo,
.navbar__logo img {
	width: 129px;
	height: 24px;
}

.navbar__item {
	flex-shrink: 0;
}

.navbar__link {
	font-weight: var(--ifm-font-weight-normal);
	font-size: 0.875rem;
	color: var(--ifm-p-primary-body);
}

.navbar__link:hover,
.navbar__link:focus {
	text-decoration: none !important;
}

.navbar__link--active {
	font-weight: var(--ifm-font-weight-semibold);
	color: var(--ifm-color-primary);
}

/* Footer */
.footer {
	padding-top: 5rem;
}

.footer__title {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.footer__link-item {
	color: hsl(var(--gray-500));
	line-height: 1.25;
	font-weight: var(--ifm-font-weight-normal);
	font-size: 0.875rem;
}

.footer__link-item:hover,
.footer__link-item:focus {
	color: var(--ifm-menu-color-hover);
	text-decoration: none;
}

.footer__copyright {
	font-size: small;
	margin-top: 48px;
	color: hsl(var(--gray-400));
}

/* Prev Next pagination buttons */

.pagination-nav__link {
	border-radius: 0.375rem;
	border-color: hsl(var(--gray-400));
	color: hsl(var(--blue-600));
	text-decoration: none;
}

.pagination-nav__link:hover {
	border-color: hsl(var(--blue-600));
	text-decoration: none;
	color: hsl(var(--blue-600));
}

.pagination-nav__link:focus {
	text-decoration: none;
}

.pagination-nav__link--prev .pagination-nav__label::before {
	content: "\2190\0020";
}

.pagination-nav__link--next .pagination-nav__label::after {
	content: "\0020\2192";
}

/* Left drawer menu */
@media (min-width: 997px) {
	[class*="sidebarViewport_"] {
		top: 1rem !important;
	}

	[class*="sidebar_"] {
		margin-top: 1rem;
		max-height: calc(100vh - 4.125rem);
	}
}

.theme-doc-sidebar-container {
	border-right: none !important;
}

.menu {
	padding-bottom: 2rem !important;
}

.menu__section {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 1.6rem;
	padding: var(--ifm-menu-link-padding-vertical)
		var(--ifm-menu-link-padding-horizontal);
}

.theme-doc-sidebar-menu {
	padding-top: var(--ifm-menu-link-padding-horizontal);
	padding-bottom: var(--ifm-menu-link-padding-horizontal);
}

.menu__section {
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 1.6rem;
	padding: var(--ifm-menu-link-padding-vertical)
		var(--ifm-menu-link-padding-horizontal);
}

a.menu__link {
	color: hsl(var(--gray-500));
	flex: 1;
	line-height: 1.25;
	padding: var(--ifm-menu-link-padding-vertical)
		var(--ifm-menu-link-padding-horizontal);
	font-weight: var(--ifm-font-weight-normal);
	font-size: 0.875rem;
}

a.menu__link:hover {
	text-decoration: none;
	background-color: transparent;
	color: var(--ifm-menu-color-hover);
}

li.menu__list-item:not([class*="level-1"]) a {
	font-size: 0.8125rem;
}

.menu__link.menu__link--active {
	color: var(--ifm-active-drawer-active-color);
	font-weight: var(--ifm-font-weight-medium);
	background-color: transparent;
}

.menu__link.menu__link--active:hover {
	color: var(--ifm-active-drawer-active-color);
}

.menu__caret {
	padding: 0;
}

.menu__caret:hover {
	background-color: transparent;
}

.menu__caret::before,
.menu__link--sublist-caret::after {
	width: 0.875rem;
	height: 0.875rem;
	background-size: 1.25rem;
	background-position: center center;
	margin-right: var(--ifm-menu-link-padding-horizontal);
}

.menu__link--sublist-caret::after {
	margin-right: 0;
	min-width: initial;
}

.menu__list-item-collapsible:hover,
.menu__list-item-collapsible--active,
.menu__list-item-collapsible--active:hover {
	background-color: transparent;
}

.menu__list-item-collapsible.menu__list-item-collapsible--active
	.menu__link--active,
.menu__link.menu__link--sublist.menu__link--active {
	color: inherit;
}

.menu__list-item-collapsible.menu__list-item-collapsible--active
	.menu__link--active:hover,
.menu__link.menu__link--sublist.menu__link--active:hover {
	color: var(--ifm-menu-color-hover);
}

.navbar-sidebar__back {
	margin-left: -0.85rem;
}

.navbar--fixed-top {
	position: static;
	height: 5.625rem;
}

.navbar-sidebar__brand {
	height: 5.625rem;
}

/* Hide the search bar. This can't be done without swizzling the navbar, which we want to avoid */
.navbar__items.navbar__items--right .DocSearch {
	display: none;
}

@media (max-width: 996px) {
	.navbar-sidebar {
		--ifm-navbar-background-color: var(--ifm-background-color);
	}

	/* Bring the search bar back */
	.navbar__items.navbar__items--right .DocSearch {
		display: block;
	}

	.DocSearch-Button-Keys,
	.DocSearch-Button-Placeholder {
		display: none !important;
	}
}

.DocSearch-Button {
	font-family: var(--ifm-font-family-base);
	font-weight: var(--ifm-font-weight-normal) !important;
	height: 2.125rem !important;
	border-radius: 0.5625rem !important;
	border: 1px solid hsl(var(--gray-300)) !important;
	background-color: hsl(var(--white)) !important;
	color: hsl(var(--gray-400)) !important;
	width: calc(100% - (var(--ifm-menu-link-padding-horizontal) * 2)) !important;
	margin: 0 var(--ifm-menu-link-padding-horizontal) !important;
	cursor: text !important;
	padding: 0 0.5rem !important;
	transition: none !important;
}

.DocSearch-Button:hover {
	box-shadow: none !important;
	font-weight: var(--ifm-font-weight-normal) !important;
	color: hsl(var(--gray-400)) !important;
}

.DocSearch-Search-Icon {
	color: hsl(var(--gray-500)) !important;
}

.DocSearch-Button-Key {
	background: hsl(var(--gray-050)) !important;
	border: 1px solid hsl(var(--gray-200)) !important;
	border-radius: 0.25rem !important;
	box-shadow: none !important;
	color: hsl(var(--gray-700)) !important;
	font-size: 0.75rem;
	margin-right: 0 !important;
	margin-left: 0.25rem;
	font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
		monospace !important;
}

#__docusaurus {
	max-width: 1560px;
	margin: 0 auto;
	padding-right: var(--ifm-menu-link-padding-horizontal);
}

@media (max-width: 996px) {
	#__docusaurus {
		padding-right: 0;
	}
}

.table-of-contents::before {
	content: "On this page";
	font-size: 0.75rem;
	display: block;
	font-weight: var(--ifm-font-weight-semibold);
	line-height: 1rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);
}

@media (max-width: 996px) {
	.table-of-contents::before {
		display: none;
	}
}

.table-of-contents__left-border {
	border-left: none;
}

main .container {
	background-color: var(--foreground);
	border-radius: 0.5625rem;
	box-shadow:
		0px 3px 6px -4px rgba(0, 0, 0, 0.12),
		0px 6px 16px 0px rgba(0, 0, 0, 0.08),
		0px 9px 28px 8px rgba(0, 0, 0, 0.05);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-width: 100% !important;
}

@media (max-width: 996px) {
	main .container {
		border-radius: 0;
	}
}

/*breadcrumbs and directory */

.breadcrumbs__link {
	color: var(--ifm-p-secondary-mini);
	text-decoration: none;
	cursor: pointer;
}

span.breadcrumbs__link,
span.breadcrumbs__link:hover,
span.breadcrumbs__link:focus {
	cursor: default;
	text-decoration: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
	text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
	background: rgba(0, 0, 0, 0);
	color: var(--ifm-p-primary-body);
}

/*titles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "EuclidSquare";
	font-weight: 500;
	color: var(--ifm-h1-primary-header);
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}

.theme-doc-markdown {
	color: var(--ifm-p-primary-body);
	font-family: var(--ifm-font-family-body);
}

.theme-last-updated {
	color: var(--ifm-p-secondary-mini);
	font-style: normal;
}

.theme-last-updated b {
	font-weight: 600;
}

.theme-edit-this-page {
	text-decoration: none;
}

.theme-edit-this-page:hover,
.theme-edit-this-page:focus {
	text-decoration: underline;
}

.card {
	border-color: #d9d9d9;
	border-radius: 4px;
	box-shadow: 0;
}

/* Buttons */

.navbar-sidebar__item {
	padding-right: 0;
}

.navbar-sidebar__back {
	background: none;
	font-size: 14px;
}

.ping::after {
	display: inline-block;
	content: "";
	background: var(--docs-color-primary);
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin-left: 4px;
}

.pseudo-icon {
	opacity: 0.8;
	padding: 0.25rem;
	margin: 0 0.5rem;
}

.pseudo-icon:hover {
	opacity: 1;
}

.pseudo-icon::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	opacity: 0.8;
	background-repeat: no-repeat;
}

.github-icon::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .github-icon::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23b4b4b4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-sidebar .pseudo-icon {
	padding: 0.3rem 0.5rem;
	margin: 0;
}

.navbar-sidebar .pseudo-icon::after {
	content: "GitHub";
	margin-left: 12px;
}

.navbar-sidebar .github-icon {
	margin-top: 2rem;
}

.navbar-sidebar .github-icon::after {
	content: "GitHub";
}

.dev-portal-link {
	background-color: hsl(var(--blue-500));
	color: #fff;
	border-radius: 4px;
	margin-right: 12px;
	transition-property: all;
	text-decoration: none;
}

.dev-portal-link:hover {
	background-color: hsl(var(--blue-700)) !important;
}

.dev-portal-link:hover,
.dev-portal-link:focus {
	text-decoration: none;
}

.dev-portal-link svg {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.2rem;
}

.dev-portal-login {
	color: var(--ifm-color-primary) !important;
	background-color: hsl(var(--white)) !important;
	border: 1px solid var(--ifm-color-primary);
}

.dev-portal-login:hover {
	color: var(--ifm-color-primary) !important;
	background-color: hsl(var(--blue-50)) !important;
	border-color: var(--ifm-color-primary-light);
}

.dev-portal-signup {
	color: #fff !important;
	background-color: var(--ifm-color-primary-darker);
}

.dev-portal-signup:hover {
	background-color: var(--ifm-color-primary-light);
}

.dev-portal-login {
	--ifm-navbar-link-hover-color: var(--docs-color-primary-100);
	background-color: transparent;
}

.navbar-sidebar .dev-portal-link {
	padding: 0.75rem;
	margin-top: 1rem;
}

.navbar__link {
	text-decoration: none;
}

.navbar__link:hover,
.navbar__link:focus {
	text-decoration: underline;
}

.navbar__brand {
	text-decoration: none;
}

.navbar__brand:hover,
.navbar__brand:focus {
	text-decoration: none;
}

/* Sidebar menu - animation 10x faster */
.menu__list {
	transition: 0.2s !important;
}

/* VIDEO */
.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

/**************************************************************************
 * helpers
 */
.w-50 {
	width: 50%;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.jc-space-between {
	justify-content: space-between;
}

.ngrok--font-mono {
	font-family: var(--ifm-font-family-mono);
}

/**************************************************************************
 * Badges
 */
.ngrok--badge {
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	gap: 0.25rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	border-radius: 0.25rem;
	cursor: default;
	width: fit-content;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
}

.ngrok--badge.ngrok--badge-gray {
	-tw-text-opacity: 1;
	color: hsl(var(--gray-700) / var(--tw-text-opacity));
	background-color: hsl(var(--gray-500) / 0.2);
}

/**************************************************************************
 * Cards
 */
.ngrok--cards {
	margin-bottom: 20px;
}

.ngrok--cards-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.ngrok--cards-row {
	flex-direction: row;
}

.ngrok--cards > a,
.ngrok--cards > a:hover,
.ngrok--cards > a:focus {
	border-radius: 6px;
	color: inherit;
	display: flex;
	flex-direction: column;
	flex: 1;
	text-decoration: none;
}

.ngrok--card {
	border-radius: 6px;
	border: 1px solid var(--ifm-toc-border-color);
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
	gap: 1em;
	padding: 20px;
	text-decoration: none;
	transition: border-color 0.2s;
}

.ngrok--card:hover,
.ngrok--card:focus {
	text-decoration: none;
}

a:hover .ngrok--card {
	border: 1px solid var(--ifm-hr-background-color);
}

a .ngrok--card svg {
	fill: #000000;
}

[data-theme="dark"] a:hover .ngrok--card {
	border-color: #6d747e;
}

[data-theme="dark"] a .ngrok--card svg {
	fill: #ffffff !important;
}

.ngrok--card-lg {
	padding: 40px;
}

.ngrok--card-md {
	padding: 32px;
}

.ngrok--card-sm {
	padding: 16px;
}

.ngrok--card-note {
	background-color: var(--ifm-footer-background-color);
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.ngrok--card-heading {
	display: flex;
	flex-direction: row;
	gap: 20px;
	text-decoration: none;
}

.ngrok--card-heading:hover,
.ngrok--card-heading:focus {
	text-decoration: none;
}

.ngrok--card-heading svg {
	width: 32px;
	height: 32px;
}

.ngrok--card-sm .ngrok--card-heading svg {
	width: 24px;
	height: 24px;
}

.ngrok--card > img {
	max-height: 32px;
	width: max-content;
	display: block;
	margin: 0 auto;
}

.ngrok--card * {
	margin-bottom: 0;
}

.ngrok--card a {
	font-weight: 600;
}

.ngrok--card:hover > a {
	text-decoration: underline;
}

@media (max-width: 680px) {
	.ngrok--cards-row {
		flex-direction: column;
	}
}

.table-of-contents__link {
	text-decoration: none;
}

.hash-link {
	text-decoration: none;
}

.hash-link:hover,
.hash-link:focus {
	text-decoration: underline;
}

/**
 * KETCH CSS overrides 
 * operation: make the banner smaller
*/
#lanyard_root [class^="content"] {
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 14px;
}

#lanyard_root [class^="titleWrapper"] {
	margin-bottom: 8px;
}

#lanyard_root #banner-description {
	min-height: min-content;
}

#lanyard_root [class^="buttons"] button {
	padding-top: 4px;
	padding-bottom: 4px;
}

#lanyard_root #banner-description + div {
	display: none;
}

[data-theme="dark"] div.markdown p {
	color: #bbb;
}

[data-theme="dark"] div.markdown li {
	color: #bbb;
}

[data-theme="dark"] div.markdown ul.tabs li {
	color: #ccc;
}

[data-theme="dark"] div.markdown table td {
	color: #bbb;
}

.tabs,
th,
.theme-admonition {
	font-family: var(--ifm-font-family-base);
}

@media (pointer: fine) {
	.thin-scrollbar {
		scrollbar-color: var(--scrollbar) transparent;
	}

	.thin-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.thin-scrollbar::-webkit-scrollbar-thumb {
		background: var(--scrollbar);
	}

	.thin-scrollbar::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar);
	}
}

hr {
	background-color: hsl(var(--gray-300));
}

.theme-doc-breadcrumbs {
	margin-left: -0.6rem;
}

.prism-code {
	font-family: var(--ifm-font-family-mono);
	font-size: 13px;
}

code {
	border-width: 1px;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	font-family: var(--ifm-font-family-mono);
}
