/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @font-face {
  font-family: "EuclidSquare";
  font-display: swap;
  src: local("sans-serif"),
       url("/static/fonts/EuclidSquare-Medium-WebS.woff2") format("woff2"),  
       url("/static/fonts/EuclidSquare-Regular-WebS.woff2") format("woff2"),
       url("/static/fonts/EuclidSquare-Light-WebS.woff2") format("woff2");
 }

 @font-face {
  font-family: "EuclidSquare-regular";
  font-display: swap;
  src: local("sans-serif"), url("/static/fonts/EuclidSquare-Regular-WebS.woff2") format("woff2");
 }

 @font-face {
  font-family: "EuclidSquare-medium";
  font-display: swap;
  src: local("sans-serif"),url("/static/fonts/EuclidSquare-Medium-WebS.woff2") format("woff2");
 }

 @font-face {
  font-family: "EuclidSquare-light";
  font-display: swap;
  src: local("sans-serif"), url("/static/fonts/EuclidSquare-Light-WebS.woff2") format("woff2");
 }
/* You can override the default Infima variables here. */

/* Global text color */

:root {
  --ifm-color-primary: #2e54ea;
  --ifm-color-primary-dark: #1741e5;
  --ifm-color-primary-darker: #163dd8;
  --ifm-color-primary-darkest: #1232b2;
  --ifm-color-primary-light: #4769ed;
  --ifm-color-primary-lighter: #5473ee;
  --ifm-color-primary-lightest: #7a92f2;

  --ifm-pagination-nav-color-hover: #597EF7;
  --ifm-active-drawer-active-color:  #597EF7;
  --ifm-heading-font-weight: 00;

  --docusaurus-collapse-button-bg-hover: rgb(0 0 0 / 0%);

  --ifm-h1-primary-header: #000000;
  --ifm-h2-primary-subheader: #000000;
  --ifm-p-primary-body: #595959;
  --ifm-p-secondary-mini: #8C8C8C;

  --ifm-footer-background-color: #F0F2F5;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'EuclidSquare-regular';
}



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #85a5ff;
  --ifm-color-primary-dark: #5e88ff;
  --ifm-color-primary-darker: #4b7aff;
  --ifm-color-primary-darkest: #4b7aff;
  --ifm-color-primary-light: #acc2ff;
  --ifm-color-primary-lighter: #bfd0ff;
  --ifm-color-primary-lightest: #f9fbff;
  --ifm-background-color: #1b1b1d;

  /* FIX this here, clean up code I didn't use. */
  --ifm-h1-primary-header: #FFFFFF;
  --ifm-h2-primary-subheader: #FFFFFF;
  --ifm-p-primary-body: #5F5F5F5;
  --ifm-p-secondary-mini: #8C8C8C;

  --ifm-footer-background-color: #262626;

}

/* Header */

.navbar {
  
}


/* Footer */

.footer {
  background-color: var(--ifm-footer-background-color)
}

.footer__title {
  color: var(--ifm-h1-primary-header);
  font: var(--ifm-h4-font-size) / var(--ifm-heading-line-height) var(--ifm-font-family-base);
  margin-top: 40px;
  margin-bottom: var(--ifm-heading-margin-bottom);
}

.footer__item {
  color: var(--ifm-p-primary-body);
}

.footer__copyright {
  font-size: small;
  margin-top: 48px;
  color: var(--ifm-p-secondary-mini);
}


/* Prev Next pagination buttons */

.pagination-nav__link{
  border-radius: 4px;
  border-color: #D9D9D9;
}

.pagination-nav__link:hover {
  border-color: var(--ifm-pagination-nav-color-hover);
  text-decoration: none;
  color: #2e54ea;
}

/* ian: Fix for dark mode later
.pagination-nav__link:hover .pagination-nav__sublabel {
  color: #2e54ea;
}
*/

/* Left drawer menu */

a.menu__link {
  color: var(--ifm-menu-color);
  flex: 1;
  line-height: 1.25;
  padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
  font-family: 'EuclidSquare-medium';
  
}

li.menu__list-item:not([class*="level-1"]) a {
  font-family: 'EuclidSquare-regular';
  font-size: smaller;
}

.menu__link.menu__link--active {
  color: var(--ifm-active-drawer-active-color);
  background-color: rgba(0,0,0,0.02);
}

/*b readcrumbs and directory */

.breadcrumbs {
  margin-bottom: 40px;
  
}

.breadcrumbs__link {
  color: var(--ifm-p-secondary-mini);
}

.breadcrumbs__item--active .breadcrumbs__link {
  background: rgba(0,0,0,0.0);
  color: var(--ifm-p-primary-body);
}


/*titles */

h1, h2, h3{
  font-family: 'EuclidSquare-medium';
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 12px;
}

p {
  color: var(--ifm-p-primary-body);
}

.theme-last-updated {
  color: var(--ifm-p-secondary-mini);
}

.card {
  
  border-color: #D9D9D9;
  border-radius: 4px;
  box-shadow: 0;
}

/* Buttons */

.navbar-sidebar__item {
  padding-right: 0;
}

.navbar-sidebar__back {
  background: none;
  font-size: 14px;
}

.ping::after {
  display: inline-block;
  content: '';
  background: var(--docs-color-primary);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin-left: 4px;
}

.pseudo-icon {
  opacity: 0.8;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.pseudo-icon:hover {
  opacity: 1;
}

.pseudo-icon::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  background-repeat: no-repeat;
}

.github-icon::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23000000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme='dark'] .github-icon::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' aria-hidden='true' focusable='false' fill='%23b4b4b4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-sidebar .pseudo-icon {
  padding: 0.3rem 0.5rem;
  margin: 0;
}

.navbar-sidebar .pseudo-icon::after {
  content: 'GitHub';
  margin-left: 12px;
}

.navbar-sidebar .github-icon {
  margin-top: 2rem;
}

.navbar-sidebar .github-icon::after {
  content: 'GitHub';
}

.dev-portal-link {
  background-color: var(--ifm-color-primary-darker);
  border-radius: 4px;
  margin-right: 12px;
  transition-property: all;
}

.dev-portal-link svg {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.dev-portal-signup {
  --ifm-link-hover-color: #fff;
  --ifm-navbar-link-hover-color: #fff;
  color: #fff;
  background-color: var(--ifm-color-primary-darker);
}

.dev-portal-signup:hover {
  background-color: var(--ifm-color-primary-light);
}

.dev-portal-login {
  --ifm-navbar-link-hover-color: var(--docs-color-primary-100);
  background-color: transparent;
}

.navbar-sidebar .dev-portal-link {
  padding: 0.75rem;
  margin-top: 1rem;
}

/* Sidebar menu - animation 10x faster */
.menu__list {
  transition: 0.2s !important;
}