name: Demo ngrok docs

on:
  pull_request:
    branches:
      - main
jobs:
  deploy:
    name: Demo ngrok docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - name: 'Create env file'
        run: |
          echo DEPLOY_ENV=dev > .env
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build website
        run: pnpm run build
  search-index-dev:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: darrenjennings/algolia-docsearch-action@master
        with:
          algolia_application_id: ${{ secrets.DEV_ALGOLIA_APPLICATION_ID }}
          algolia_api_key: ${{ secrets.DEV_ALGOLIA_API_KEY }}
          file: 'algolia_dev.config.json'
