name: Demo ngrok docs

on:
  pull-request:
    branches:
      - main
jobs:
  deploy:
    name: Demo ngrok docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build website
        run: yarn build
